  :root {
    --warrenred: #7d2248;
    --redcomp: #7D2A22;
    --dark: #333;
    --light: #f9f9f9;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    width: 10%;
    margin-right: 4%
  }

  /* Body and typography */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--light);
    background-color: --light;
  }
  
  /* Header & navigation */
  header {
    background-color: var(--warrenred);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 5rem;
  }
  
  h2 {
    font-size: 3rem;
  }

  .tabbed {
    text-indent: 2rem;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  #about {
    background-color: var(--redcomp);
    padding: 1rem;
    margin-bottom: 1rem;
  }

