  :root {
    --warrenred: #7d2248;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body and typography */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  /* Header & navigation */
  header {
    background-color: #7d2248;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  #recent-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  /* Main content */
  main button {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 100%
  }
  
  /* Footer */
  footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
  }
  
  .popover {
    margin: auto
  }

  @media (max-width: 600px) {
    main {
      grid-template-columns: 1fr;
    }
  }